<mat-form-field >
  <mat-select
    [(ngModel)]="selectedSearchOption"
    (selectionChange)="setSearchOption($event)"
    name="selectedSearchOption"
    [placeholder]="searchOptionsTitle">
    @for (option of searchOptions; track $index) {
      <mat-option
        name="searchOptions"
        [value]="option">
        {{ option }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>
<br>
