div.light-theme,
div.dark-theme {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

$small-toolbar-breakpoint: 500px;

// To allow the inner overlay (and other items) to use z-indexes greater than 1.
.mat-sidenav {
  &-container, &-content {
    z-index: auto;
  }
  // This rule is to avoid the left menu scrolling with the page itself.
  position: fixed;
  padding-top: 64px;
  @media screen and (max-width: 600px) {
    padding-top: 56px; 
  }
  width: 12rem;
}

mat-toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;

  // Fix icon button alignment on some Firefox configurations.
  [mat-icon-button] {
    line-height: 1;
  }
}

mat-toolbar-row .spacer {
  flex: 1 1 auto;
}

.app-version {
  font-size: 70%;
}

mat-sidenav-container {
  flex: 1;
}

// Align icons with text.
mat-sidenav-container .mat-icon {
  vertical-align: text-top;
}

.mat-mdc-slide-toggle {
  margin-top: 0.8rem;
  margin-left: 1rem;
  font-size: 80%;
}

.toolbar-padding {
  visibility: hidden;
}

.connection-status {
  margin-right: 1rem;
}

.fast-switcher a.mat-mdc-tab-link > span.text {
  margin-left: 0.3rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.displayButton {
  display: none;
}

@media screen and (min-width: $small-toolbar-breakpoint) {
  .squashed-display-button {
    display: none;
  }
  .displayButton {
    display: block;
  }
}

// Make the Component injected by Router Outlet full height.
main {
  display: flex;
  flex-direction: column;
  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
}
