<h1 mat-dialog-title>{{ 'LOGIN' | translate | titlecase }}</h1>

<form #loginForm="ngForm">
  <div mat-dialog-content>
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'USER_NAME' | translate | titlecase }}"
        [(ngModel)]="username"
        name="username"
        required>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="{{ 'PASSWORD' | translate | titlecase }}"
        type="password"
        [(ngModel)]="password"
        name="password"
        required>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button
      mat-dialog-close
      (click)="cancel()">
      {{ 'CANCEL' | translate | titlecase }}
    </button>
    <button mat-button
      [disabled]="!loginForm.form.valid"
      (click)="login()">
      {{ 'LOGIN' | translate | titlecase }}
    </button>
  </div>
</form>
