.stage-preview-container {
    position: relative;

    > * {
        pointer-events: none;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border: none;
        transform-origin: 0 0;
    }
}