.service-item {
  display: flex;
  flex-direction: row;
}

/* Align icons with text */
.service-item-icon {
  line-height: inherit;
}

.card-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.delete-service-item-button {
  position: absolute;
  right: 5px;
}
