<mat-card
  class="service-item no-select"
  [class.selected]="selected">
  <mat-card-content
    class="card-content"
    (click)="onItemSelected(item)">
    <mat-icon class="service-item-icon">{{ getIcon(item) }}</mat-icon>&nbsp;{{ item.title }}
  </mat-card-content>
  @if (useDeleteServiceItemFromOpenlp) {
    <mat-card-actions>
      <button
        mat-icon-button
        class="delete-service-item-button no-select"
        [class.selected]="selected"
        matTooltip="{{ 'DELETE_FROM_SERVICE' | translate | titlecase }}"
        (click)="deleteFromService(item)">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </mat-card-actions>
  }
</mat-card>
