@import '../overlay-common';

.transpose {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    
    mat-icon {
        transform: scale(1.5);
    }

    @media screen and (min-width: $mobile-breakpoint) {
        font-size: 3rem;
        mat-icon {
            transform: scale(2);
        }
    }
}
